<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/rgarc101/Movies/p1.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAKPT3sTiTyu+p67ABTm0aooG4F4+99744Hkf3iWd6EZvsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDEuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAABxFRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcBtgAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p10.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAANAiAwYxkFONVU0UNJpWJApFIR3V5EaEkBDzL7z6vgeIsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDEwLmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAHFIRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcM2gAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p11.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAGxiF6pGENifQru96HNQE9HYdZcxRdqZLA4lHG4CFxmfsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDExLmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAL1IRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcNowAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p12.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAG1HL4YpROtic3lQx1U6mKbqEPCDB/fmzIPuqC9d9zYrsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDEyLmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAADlJRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcPWgAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p13.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAALcOaOesEikcnDHsgPetWTJJF1awdbxNDh4oddmKVFaRsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDEzLmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAFVJRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcPngAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p14.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAPgnpmDQ0ri463B8LVNG75nb/8ZrSxU5T502EI6h/DcKsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDE0LmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAKxJRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcRfgAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p15.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAE1SsDzMqbivYmY4yRGL6Uq9LmnDBCChXnjlfpUBuAZKsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDE1LmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAAZLRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcYuAAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p16.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAEU9oV88r7FIfoOoHMq53+bb7AY21uIEH6mzYYWrpRvksAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAgAAAABAQAAcDE2LmFpZmMQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAACtLRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcZKQAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p2.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAIgI0SfU0Mye4b+hW9wS9Mp+jE9ccVYIPWXdwF0nb/YvsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDIuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAEtFRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcCSQAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p3.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAPMUvGyMsa8885GX30vOD43+BU+LJLSXZkaSoeZ+WojvsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDMuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAIlFRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcC7AAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p4.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAH4fRxXiNCeqH4FMd2uw1FZyLsntU2EIlkTD1o4ZvzjlsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDQuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAFBGRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcFRgAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p5.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAAnwVX///c3zmz1w4yhy2cYwt89CF+wUqUh0FXCtNE6zsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDUuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAJNGRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcGDwAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p6.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAEOeOjiWhxcY45Jffi9x9Jc5EwTwmq/sz7OIoQk+R6mfsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDYuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAN5GRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcG+QAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p7-1.aifc</key>
	<data>
	Ym9va7gCAAAAAAQQMAAAAFMW3LdA46E3epHf/7pgClnAcZqAB2re9viNlmf0A9kTtAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAkAAAABAQAAcDctMS5haWZjAAAAEAAAAAEGAAAQAAAAIAAAADAAAABA
	AAAACAAAAAQDAAAlZwIAAAAAAAgAAAAEAwAA1DwJAAAAAAAIAAAABAMAAH09CQAAAAAA
	CAAAAAQDAAA9R0YAAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQboH
	CGYAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAAAgiD06AAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAAQzZEODk1NTktREMw
	My0zQ0I5LUEyQTItOTgwQkY0NTEwNDk0GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFQA
	AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAAAAAAAiAAAKABAAAA
	AAAABSAAABABAAAAAAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAA
	EyAAAEQBAAAAAAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/rgarc101/Movies/p7-2.aifc</key>
	<data>
	Ym9va7gCAAAAAAQQMAAAAJWVB8NN/dcWxDg90GxLABqWQNo5yZF3id92nvUwXxmZtAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAkAAAABAQAAcDctMi5haWZjAAAAEAAAAAEGAAAQAAAAIAAAADAAAABA
	AAAACAAAAAQDAAAlZwIAAAAAAAgAAAAEAwAA1DwJAAAAAAAIAAAABAMAAH09CQAAAAAA
	CAAAAAQDAABvR0YAAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQboH
	CNMAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAAAgiD06AAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAAQzZEODk1NTktREMw
	My0zQ0I5LUEyQTItOTgwQkY0NTEwNDk0GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFQA
	AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAAAAAAAiAAAKABAAAA
	AAAABSAAABABAAAAAAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAA
	EyAAAEQBAAAAAAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/rgarc101/Movies/p8.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAF7+t/E60Em7ZFcpfcGudo5qYROKQgMl61i+1HXWcHumsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDguYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAAMVHRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcKIAAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/p9.aifc</key>
	<data>
	Ym9va7QCAAAAAAQQMAAAAJkxkn1tHpzHDdouz4J5OfwfY1fMIr5Gj4K9gvV4YSQEsAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAcAAAABAQAAcDkuYWlmYwAQAAAAAQYAABAAAAAgAAAAMAAAAEAAAAAI
	AAAABAMAACVnAgAAAAAACAAAAAQDAADUPAkAAAAAAAgAAAAEAwAAfT0JAAAAAAAIAAAA
	BAMAACBIRgAAAAAAEAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAAAAAEAABBugcLtAAA
	ABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAAAAAAAAQA
	AAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABDNkQ4OTU1OS1EQzAzLTND
	QjktQTJBMi05ODBCRjQ1MTA0OTQYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAUAAAAAAA
	AAAFEAAAqAAAAAAAAAAQEAAA0AAAAAAAAABAEAAAwAAAAAAAAAACIAAAnAEAAAAAAAAF
	IAAADAEAAAAAAAAQIAAAHAEAAAAAAAARIAAAUAEAAAAAAAASIAAAMAEAAAAAAAATIAAA
	QAEAAAAAAAAgIAAAfAEAAAAAAAAwIAAAqAEAAAAAAAABwAAA8AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAAAAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/rgarc101/Movies/project.aifc</key>
	<data>
	Ym9va7gCAAAAAAQQMAAAAFXsRRKiqz2NPgsvtorMB+X28lDem9SS0Jz9ULVPTysLtAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHJnYXJjMTAxBgAAAAEB
	AABNb3ZpZXMAAAwAAAABAQAAcHJvamVjdC5haWZjEAAAAAEGAAAQAAAAIAAAADAAAABA
	AAAACAAAAAQDAAAlZwIAAAAAAAgAAAAEAwAA1DwJAAAAAAAIAAAABAMAAH09CQAAAAAA
	CAAAAAQDAADdQkYAAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQboG
	/4AAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAAAgiD06AAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAAQzZEODk1NTktREMw
	My0zQ0I5LUEyQTItOTgwQkY0NTEwNDk0GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFQA
	AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAAAAAAAiAAAKABAAAA
	AAAABSAAABABAAAAAAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAA
	EyAAAEQBAAAAAAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
